#headernote {
	width:50%;
	margin:10px auto;
	padding:10px;
	border-radius:10px;
	border:3px solid white;
	color:white;
	font-size:150%;
	animation-name:blink-single;
	animation-duration:2s;
	animation-iteration-count:infinite;
}

#mainsection {
	width: 100%;
	height: 100vh;
	background-color: #F3AD27;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0px;
	padding: 0px;
	text-align: center;
	cursor: default;
	z-index: 100;
}

#mainsection #logo {
	height: 40vh;
}

#mainsection h1 {
	color: white;
	padding: 0px;
	margin: 0px;
	font-size: 10vh;
}

#mainsection h3 {
	color: white;
}

#about div.referralnote a {
	text-decoration: none;
	color: white;
	font-size: 125%;
	border: 2px solid white;
	padding: 10px;
	border-radius: 10px;
	animation-name:blink-single;
	animation-duration:2s;
	animation-delay:1s;
	animation-iteration-count:infinite;
}

#mainsection a {
	position:absolute;
	bottom:2vh;
	width:100%;
	height:5vh;
	left:0px;
	text-align:center;
	box-sizing:border-box;
	background-image:url("../images/arrow.png");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	opacity:0.5;
	transition:ease all 0.5s;
	animation-name:blink-single-arrow;
	animation-duration:2s;
	animation-delay:1s;
	animation-iteration-count:infinite;
}

#mainsection a:hover {
	opacity:1 !important;
	animation-play-state:paused;
}

#about div.referralnote a:hover {
	color: #F3AD27;
	background-color: white !important;
	animation-play-state:paused;
}

article.split {
	width: 49%;
	box-sizing: border-box;
	display: inline-block;
	padding: 20px 50px;
	line-height: 1.5;
	vertical-align: top;
}

#about article.split {
	text-align:justify;
}

#compare article.split {
	text-align:center;
}

#compare article.split img, #order #orderIPTVPackageChoice tr td img {
	width:50px;
}

#compare article.split h2 {
	margin:0px;
}

#compare article.split a {
	display:block;
	border:3px solid black;
	border-radius:10px;
	box-sizing:border-box;
	padding:10px;
	font-size:150%;
	text-decoration:none;
	font-weight:bold;
}

#compare article.split a.bluefrog {
	border-color:var(--blue-color);
}

#compare article.split a.bluefrog:hover {
	color:white;
	background-color:var(--blue-color);
}

#compare article.split a.yellowfrog {
	border-color:var(--yellow-color);
}

#compare article.split a.yellowfrog:hover {
	color:white;
	background-color:var(--yellow-color);
}

#about .devicenote {
	text-align:center;
}

#about .devicenote a {
	text-decoration:none;
	color:white;
	font-size:150%;
}

#about article.full {
	font-size: 120%;
	text-align: center;
}

#about div.devicelist {
	width:100%;
	margin:10px 0px;
	text-align:center;
}

#about div.devicelist div {
	width:24%;
	font-size:140%;
	text-align:center;
	box-sizing:border-box;
	border-radius:100%;
	padding:10px;
	display:inline-block;
	vertical-align:middle;
	animation-name:blink-multiple;
	animation-duration:2s;
	animation-iteration-count:infinite;
}

#about div.devicelist a {
	text-decoration:none;
	color:white;
}

#about div.devicelist div .note {
	font-size:50%;
	margin:0px;
	font-style:italic;
}

#about div.referralnote {
	text-align:center;
	width:70%;
	background-color:#F3AD27;
	margin:auto;
	box-sizing:border-box;
	border-radius:10px;
	padding:15px;
	font-size:200%;
}

#about div.referralnote a {
	font-size:75% !important;
	display:block;
	margin-top:10px;
}

@keyframes blink-multiple {
	0% {background-color:rgba(255,255,255,0);}
    20% {background-color:rgba(255,255,255,0.5);}
	40% {background-color:rgba(255,255,255,0);}
    100% {background-color:rgba(255,255,255,0);}
}

@keyframes blink-single {
	0% {background-color:rgba(255,255,255,0);}
    50% {background-color:rgba(255,255,255,0.5);}
    100% {background-color:rgba(255,255,255,0);}
}

@keyframes blink-single-arrow {
	0% {opacity:0.5;}
    50% {opacity:1;}
    100% {opacity:0.5;}
}

#channels #note {
	width: 70%;
	margin: auto;
	font-size: 60%;
	font-style: italic;
}

#channels table {
	width: 75%;
	text-align: center;
	margin: auto;
}

#channels table tr td {
	vertical-align: text-top;
	width: 33%;
	padding-top: 20px;
	line-height: 2;
}

h3 {
	text-align: center;
}

#instructions {
	text-align:center;
}
 
#instructions h2 {
	box-sizing:border-box;
	margin:40px 0px;
}
 
#box .split img {
	width:100%;
}

#box .split h1 {
	font-size:300%;
	margin:0px;
}
 
#box ul {
	font-size:125%;
	list-style:none;
	padding:0px;
}
 
#box a {
	background-color:white;
	color:#F3AD27;
	border:3px solid #F3AD27;
	padding:10px;
	box-sizing:border-box;
	text-decoration:none;
	font-size:200%;
	font-weight:bold;
	border-radius:10px;
}

#box a:hover {
	background-color:#F3AD27;
	color:white;
}

@media only screen and (max-width: 768px) {
	article.split {
		width: 100%;
		display: block;
		padding: 20px 50px;
	}
	#about div.devicelist div {
		width:75%;
		display:block;
		margin:auto;
	}
	#mainsection h3 {
		display:none;
	}
	#mainsection div#headernote {
		width:90%;
	}
	#mainsection center {
		padding-bottom:15px;
	}
}