#splash, #packageType {
	width:100%;
	height:100vh;
	position:fixed;
	top:0px;
	left:0px;
	background-color:black;
	color:white;
	z-index:100000;
	text-align:center;
}

#packageType.hidden {
	display:none !important;
}

#packageType div.packagecontainer {
	width:80%;
	margin:auto;
}

#packageType div.packagecontainer div.package img {
	width:50px;
}

#packageType div.packagecontainer div.package {
	width:49%;
	display:inline-block;
	box-sizing:border-box;
	border:5px solid white;
	padding:20px;
	border-radius:50px;
	cursor:pointer;
}

#packageType div.packagecontainer div.package:hover {
	background-color:white;
}

#loadingtitle div.loading_bar {
	background-color:#F3AD27;
	width:40px;
	height:60px;
	margin:30px 0px;
	display:inline-block;
	animation-name:loading;
	animation-duration:0.6s;
	animation-iteration-count:infinite;
}

@keyframes loading {
	0% {height:60px;margin:30px 0px;}
	25% {height:120px;margin:0px 0px;}
	50% {height:60px;margin:30px 0px;}
	100% {height:60px;margin:30px 0px;}
}

#splash input {
	background-color: black;
	border: none;
	border-bottom: 1px solid black;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

#splash input:focus {
	border-bottom: 1px solid white;
}

#splash input.error {
	color: red;
	border-bottom: 1px solid red;
}

#splash button {
	background-color: #4CAF50;
	border: none;
	cursor: pointer;
	width: 30px;
	height: 30px;
	color: black;
	border-radius: 100px;
}

#splash #numberNote {
	font-size: 70%;
	font-style: italic;
}

#splash #enterMAC {
	display: none;
	width: 80%;
	margin: auto;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background-color: #417EBD;
	background-image: url("../images/water.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.code {
	font-family:monospace;
	font-weight:bold;
	color:black;
}

#mainsection {
	width: 100%;
	height: 100vh;
	background-color: #148114;
	background-image: url("../images/backgroundset.jpg");
	background-size: cover;
	background-position: center;
	margin: 0px;
	padding: 0px;
	text-align: center;
	cursor: default;
	z-index: 100;
}

#mainsection #logo {
	height: 40vh;
}

#mainsection h1 {
	color: white;
	padding: 0px;
	margin: 0px;
	font-size: 10vh;
}

#mainsection h3 {
	color: white;
}

#mainsection a {
	text-decoration: none;
	color: white;
	font-size: 125%;
	border: 2px solid white;
	padding: 10px;
	border-radius: 10px;
	transition: ease all 0.5s;
}

#mainsection a:hover {
	color: #148114;
	background-color: white;
}

ol {
	cursor:default;
	text-align:left;
}

iframe {
	border:none;
}

#help {
	text-align:center;
}

#stbconfig #note {
	width: 80%;
	margin: auto;
	background-color: #CCCCCC;
	padding: 10px;
	color: black;
}

footer {
	width: 100%;
	background-color: #3D3D3D;
	color: white;
	text-align: center;
	padding: 10px 0px;
	cursor: default;
}

header#frogselection {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	box-sizing:border-box;
	background-color:#3D3D3D;
	text-align:center;
	padding:10px;
	color:white;
}

header#frogselection select {
	text-align:center;
}

section a {
	color:white;
	font-weight:bold;
}

.hide {
	display:none;
}

@media print {
	body {
		background:none !important;
	}
	#splash, #mainsection, img, footer, #video, iframe, header {
		display:none !important;
	}
	section.white, section.blue {
		padding:10px 0% 30px 0% !important;
	}
	ol, #downloading, #help {
		width: 100% !important;
	}
	* {
		color: black !important;
	}
	#note {
		background-color:white !important;
		border:2px solid black !important;
	}
}

@media only screen and (max-width: 768px) {
	#mainsection #logo, #mainsection h3, #mainsection a#print {
		display:none;
	}
	#mainsection a, #mainsection a.show {
		display:block;
	}
}