:root {
	--red-color:#C5000B;
	--yellow-color:#FEBA00;
	--blue-color:#0000FE;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background-color: #417EBD;
	background-image: url("../images/water.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

section.white, section.blue {
	width:100%;
	box-sizing:border-box;
	padding:10px 15% 30px 15%;
}

.white h1, .blue h1 {
	text-align: center;
	font-size: 175%;
	padding: 0px;
}

.white {
	background-color: white;
	color: #417EBD;
	cursor: default;
	text-align:center;
}

.white .wbreak, .blue .bbreak {
	display: none;
}

.wbreak, .bbreak {
	width:100%;
	max-width:300px;
}

.blue {
	color: white;
	cursor: default;
}

.blue h1 {
	color: white;
	text-align: center;
	padding: 0px;
	font-size: 175%;
}

footer {
	width: 100%;
	background-color: #3D3D3D;
	color: white;
	text-align: center;
	padding: 10px 0px;
	cursor: default;
}

div#importantnote {
	background-color:#EA4335;
	color:white;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	text-align:center;
	padding:10px;
	z-index:2;
}

div#importantnote b {
	text-transform:uppercase;
}

.bluefrog {
	color:var(--blue-color);
}

.yellowfrog {
	color:var(--yellow-color);
}

@media only screen and (max-width: 768px) {
	section.white, section.blue {
		padding:10px 0% 30px 0%;
	}
}